[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
rope = "*"

[packages]
twisted = "==19.7.0"
autobahn = "==19.9.3"
pylint = "*"
pymunk = "*"

[requires]
python_version = "3.7"
